.filter-options{
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0 auto;
}

.filter-options h2{
	width: 100%;
	padding-left: 15px;
}
.filter-options select{
	width: auto;
	min-width: 200px;
	margin: 10px 0 0 15px;  
}
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants-list li {
  max-width: 45%;
}

@media screen and (min-width: 900px) {
	#restaurants-list li {
	  width: 30%;
	}
	#map {
	  height: 600px;
	  width: 100%;
	  background-color: #ccc;
	}
}