@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #555;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
select:focus{
  outline: 2px solid orange;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  padding: 15px 0;
  width: 100%;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  font-size: 0.7rem;
  line-height: 16px;
}
nav h1 a {
  color: #fff;
  font-weight: 200;
  letter-spacing: 8px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 15px;
    list-style: none;
    background-color: #eee;
    font-size: 1rem;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}
#map-container {
  margin-top: 48px;
  height: 350px;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 50px;
  background-color: #3397DB;
  align-items: center;
  padding: 10px 0;
}
.filter-options h2 {
  margin: 0;
  width: 95%;
  text-align: left;
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
}
.filter-options select {
  display: block;
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 40px;
  letter-spacing: 0;
  margin-top: 10px;
  padding: 0;
  width: 95%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#restaurants-list li {
  position: relative;
  padding-bottom: 60px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #fff;
  font-family: Arial,sans-serif;
  margin: 15px;
  text-align: left;
  max-width: 100%;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
}
#restaurants-list .restaurant-img {
  height: 200px;
  border-top-left-radius: 15px;
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 10px 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0 10px;
  font-size: 11pt;
}
#restaurants-list .neighborhood{
  color: #555;
  font-weight: bold;
}

#restaurants-list li a {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom-right-radius: 15px;
  min-height: 48px;
  line-height: 48px;
  background-color: orange;
  color: #fff;
  display: block;
  font-size: 10pt;
  margin-top: 15px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list li a:hover{
  background-color: rgb(180,120,0);
}
#restaurants-list li a:focus{
  outline-width: 2px;
  background-color: rgb(180,120,0);
}

/* ====================== Restaurant Details ====================== */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
#skip-map-link{
  position: fixed;
  padding: 0 15px;
  top: 0;
  left: -100px;
  z-index: 1000;
}
#skip-map-link:focus{
  left: 0px;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  margin-top: 90px;
  height: 60vh;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  max-width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 20px 15px; 
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
  min-height: 150px;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0;
  text-align: center;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	max-width: 100%;
}
#restaurant-hours{
  margin: 0 auto;
  border-collapse: collapse;
}
#restaurant-hours tr{
  border-bottom: 1px solid #ddd;
}
#restaurant-hours .td-day{
  padding: 0 15px 0 30px;
  font-weight: bold;
  text-align: left;
}
#restaurant-hours .td-time{
  padding: 0 30px 0 0;
  text-align: left;
}
#restaurant-hours tr{
  display: flex;
  justify-content: space-between;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  max-width: 100%;
}
#reviews-container{
  padding: 10px 15px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  display: block;
  list-style-type: none;
  margin: 0 0 15px;
  overflow: hidden;
  max-width: 100%;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
}
#reviews-list li div {
  max-width: 100%;
  padding: 0 20px;
  border-top-left-radius: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #222;
}
#reviews-list li .review-name {
  margin: 0;
  font-size: 1.5rem;
  line-height: 48px;
  color: #eee;
}
#reviews-list li .review-date{
  color: #aaa;
  font-weight: bold;
  text-shadow: 2px 2px #000;
}
#reviews-list li .review-rating{
  display: inline-block;
  background-color: orange;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
  padding: 5px 15px;
  margin: 10px;
  border-radius: 5px;
}
#reviews-list li .review-comments{
  margin: 0 15px 15px;
}
#restaurant-hours td {
  color: #666;
}

/*============================= media queries =================================*/

@media screen and (min-width: 650px) {
  nav h1 {
    font-size: 1rem;
    line-height: 24px;
  }
  #map-container {
    margin-top: 52px;
  }
  .inside #map-container{
    margin-top: 94px;
  }
  .filter-options{
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 auto;
  }

  .filter-options h2{
    width: 100%;
    padding-left: 15px;
  }
  .filter-options select{
    width: auto;
    min-width: 200px;
    margin: 10px 0 0 15px;  
  }
  #restaurants-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #restaurants-list li {
    min-width: 280px;
    max-width: 350px;
  }
  #reviews-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #reviews-list li{
    max-width: 48%;
  }
}

@media screen and (min-width: 760px) {

  .inside #maincontent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .inside #map-container{
    width: 67%;
    min-height: 450px;
    order: 2;
  }
  .inside #restaurant-container{
    display: flex;
    flex-direction: column;
    margin: 97px 0 0;
    padding: 0;
    order: 1;
    width: 33%;
    background-color: #fdfdfd;
  }
  #restaurant-container h1{
    order: 2;
    margin: 10px 15px; 
    font-size: 1.2rem;
  }
  #restaurant-img, #restaurant-cuisine{
    order: 1;
    border-radius: 0;
  }
  #restaurant-address{
    order: 3;
    margin: -10px 0 10px 15px;
    font-size: 0.9rem;
    text-align: left;
  }
  #restaurant-hours{
    order: 3;
  }
  .inside #reviews-container{
    order: 3;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #reviews-container h2{
    font-size: 1.6rem;
    margin: 10px 15px;
  }
  #reviews-list li{
    max-width: 32%;
  }
}

@media screen and (min-width: 1024px){
  #maincontent, #breadcrumb{
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
  #breadcrumb li:first-child{
    padding-left: 15px;
  }
}